*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline:none;
}

body {
	padding: 0;
	margin: 0;
	background: #000;
	color: #fff;
	font-family: "Oxygen", sans-serif;
}

a {
	text-decoration: none;
	/* cursor: pointer; */
}

img {
	width: 100%;
}

.home img {
	width: 40%;
	-webkit-filter: grayscale(100%) contrast(100%); 
	filter: grayscale(100%) contrast(200%) brightness(90%);
}

/* =========== Sidebar =========== */

aside {
	position: fixed;
	background: #222;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 100%;
	overflow: none;
	z-index: 1;
	text-align: center;
	padding: 0;
}

aside img {
	-webkit-filter: grayscale(100%) contrast(100%); 
	filter: grayscale(100%) contrast(70%) brightness(100%);
	margin-bottom: -3px;
}

.material-icons.md-36 {
	font-size: 36px;
}

aside a {
	display: block;
	padding: 15px 0;
	color: #fff;
	transition: all 0.2s;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 2px;
}

aside p {
	margin: 0;
	padding: 0;
}

aside a:hover {
	background: #000;
}

aside nav a:nth-child(2) {
	background: #000;
}

aside nav a:nth-child(2):hover {
	background: #b2b2b2;
	color: #222;
}

/* =========== Main =========== */

main {
	max-width: 980px;
	background: #000;
	margin-left: 20%;
	padding: 12px 50px 12px 50px;
}

/* =========== Home =========== */

header {
	text-align: center;
	letter-spacing: 2px;
}

header h1 {
	font-weight: 300;
	font-size: 4em;
	letter-spacing: 4px;
}

header h5 {
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 4px;
	color: #b2b2b2;
}

/* =========== About =========== */

.about,
.folio,
.contact {
	line-height: 1.5em;
	letter-spacing: 1px;
	font-weight: 50;
}

.about h2,
.folio h2,
.contact h2 {
	font-weight: 50;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 100px 0 0 0;
	letter-spacing: 4px;
	color: #3f51b5;
}

.about p {
	color: #b2b2b2;
}

.about span {
	font-weight: 50;
	color: #fff;
}

.about h3 {
	font-weight: 50;
	margin: 50px 0;
}

/* Skills bars */

.container {
	width: 100%;
	background-color: #b2b2b2;
}

.skills {
	text-align: right;
	padding-right: 20px;
	line-height: 30px;
	color: white;
	background-color: #424242;
}

.figma {
	width: 95%;
}

.html {
	width: 90%;
}

.css {
	width: 85%;
}

.js {
	width: 65%;
}

.php {
	width: 60%;
}

/* =========== Folio =========== */

.folio img {
	-webkit-filter: grayscale(100%) contrast(100%); 
	filter: grayscale(100%);
	transition: all .4s;
}

.folio img:hover {
	-webkit-filter: grayscale(0%) contrast(50%); 
	filter: grayscale(0%);
}

.folio h3 {
	color: #fff;
	font-weight: 300;
	letter-spacing: 2px;
}

.folio p {
	font-size: 0.875em;
}

.row-halves {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 20px 0;
}

.row-halves .col {
	width: 49%;
}

.col {
	border: 1px solid #222;
	/* background: #222; */
	color: #b2b2b2;
	padding: 10px;
	transition: all .4s;
}

.col:hover {
	border: 1px solid #3f51b5;
}
/* =========== Contact =========== */

label {
	color: #b2b2b2;
}

form input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: none;
	border: 1px solid #222;
	background: transparent;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	color: #b2b2b2;
}

form input[type="text"]:focus,
textarea:focus {
	outline: none;
	border: 1px solid #3f51b5;
}

input[type="submit"] {
	background-color: transparent;
	color: #b2b2b2;
	text-transform: uppercase;
	padding: 12px 20px;
	border: 1px solid #222;
	cursor: pointer;
	transition: all 0.35s;
}

input[type="submit"]:hover {
	background-color: #3f51b5;
	color: #fff;
}

.contact .container {
	margin-top: 20px;
	margin-bottom: 100px;
	background: transparent;
	padding: 20px 0;
}

/* =========== Footer =========== */

footer {
	border-top: 1px solid #222;
}

.top-bar {
	padding: 20px 0;
	text-align: center;
}

.top-bar a {
	margin: 10px;
	font-size: 2em;
	color: #b2b2b2;
	transition: all .35s;
	display: inline-block;
}

.top-bar a:hover{
	transform: scale(1.1);
	color: #3f51b5;
}

.bottom-bar {
	background: #000;
	font-size: 0.75em;
	text-align: center;
}

/* =========== Media Queries =========== */

@media (max-width: 768px) {
	.row-halves {
		display: block;
	}

	.row-halves .col {
		width: 100%;
		margin: 0 0 10px 0;
	}
}

@media (max-width: 601px) {
	aside {
		display: none;
	}

	main {
		width: 100%;
		margin: 0px auto;
		padding: 12px 25px;
	}

	header {
		margin-top: 80px;
	}

	header h1 {
		font-size: 3em;
		line-height: 1.4em;
	}

	header h5 {
		font-size: 1em;
		letter-spacing: 2px;
	}

	.mobile-nav {
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: space-around;
		background: rgba(0, 0, 0, 0.8);
		z-index: 1;
	}

	.mobile-nav a {
		width: 100%;
		color: #b2b2b2;
		text-transform: uppercase;
		font-size: 0.875em;
		letter-spacing: 2px;
		text-align: center;
		padding: 10px 10px;
		transition: all 0.35s;
	}

	.mobile-nav a:hover {
		background: #b2b2b2;
		color: #222;
	}
}

@media (min-width: 600px) {
	.mobile-nav {
		display: none;
	}
}
body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
    @import url(https://fonts.googleapis.com/css?family=Poiret+One);
body {
	background: black;
}

h1 {
	font-size: 45px;
	line-height: 50px;
	font-family: 'Poiret One', cursive;
	color: white;
}

h2 {
	font-size: 32px;
	line-height: 50px;
	font-family: 'Poiret One', cursive;
}

p {
	font-size: 16px;
	color: white;
}

main.container {
	box-shadow: 0 0 10px #111;
	min-height: 600px;
	background-color: black;
}

.pad-right {
	padding-right: 30px;
}

.pad-left {
	padding-left: 30px;
}

blockquote p {
	color: white;
	font-style: italic;
}

dl {
	margin-bottom: 30px;
}

dt, dd {
	padding-top: 15px;
	font-size: 16px;
}

main > footer {
	padding: 10px;
	border-top: 1px solid #ccc;
	margin-top: 100px;
}

main > footer p {
	font-size: 14px;
	font-style: italic;
}
h2 {
	color: white;
}
dd {
	color: white;
}
dt {
	color: white;
}
/* Basic */

html, body {
    font: 300 16px/28px "Roboto", Arial, sans-serif !important;
    letter-spacing: .06em;
    background-color: black;
  }
  main {
    background-color: black;
    border-radius: 4px;
    margin-top: 30px;
    padding: 0;
  }
  .container {
    padding: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
  }
  a {
    color: black;
    text-decoration: underline;
  }
  
  /* Users styles */
  .bottom-line {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #00b0eb;
  }
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: white;
  }
  h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 32px;
  }
  h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
  }
  p {
    padding-bottom: 40px;
    color: white;
  }
  h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
    color: white;
  }
  
  .section-bg {
    background-color: black;
  }
  /* Introduction(First) section */
  .box-text p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: white;
  }
  @media (min-width: 768px) {
    .box-text {
      padding : 45px 15px;
    }
  }
  @media (min-width: 992px) {
    .box-text {
      padding: 100px 15px;
    }
  }
  @media (min-width: 1200px) {
    .box-text {
      padding: 120px 15px;
    }
  }
  
  /* images */
  figure {
    background-color: black;
    margin-bottom: 40px;
  }
  figcaption {
    padding: 20px 0;
    font-size: 14px;
    font-style: italic;
    color: white;
  }
  .section-space {
    padding: 60px 0;
  }
  /* Quotes section */
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  
  .quote {
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 25px;
  }
  .quote-text {
      text-align: left;
      margin-bottom: 15px;
      padding-bottom: 0;
    color: black;
  }
  .quote-author {
    text-align: right;
    margin: 0;
    padding: 0;
    font-style: italic;
  }
  /* Reference section */
  .ref {
    font-weight: 300;
    text-align: center;
  }
  /* Footer */
  footer {
    text-align: center;
    margin: 40px 0;
  }
  small {
    font-size: 14px;
  }
  /* mobile version with screens <768px */
  @media (max-width: 767px) {
    main, footer, .box-text {
      text-align: center;
    }
    .container {
      width: 100%;
    }
    main {
      margin-top: 0;
    }
    .row {
      width: 100%;
      margin: 0;
    }
    .box-text {
      display: block;
      width: 100% !important;
      padding: 30px 53px 40px 53px;
    }
    figcaption {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  .section-bg p {
      text-align: left;
    }
    .img-mob-properties {
      position: none;
      float: none;
      display: block;
      padding: 0;
      width: 60%;
      margin: 0 15% 0 25%;
    }
    .ref {
      padding-left: 30px;
      padding-right: 30px;
    }
  }